@import url('https://fonts.googleapis.com/css2?family=Abel&family=Dosis:wght@200;700&family=Kanit:ital,wght@0,100;0,700;1,300&family=Lobster&family=Orbitron:wght@400;700&family=Play:wght@400;700&family=Raleway:wght@100;300;700&family=Righteous&family=Roboto+Condensed:ital,wght@0,300;0,700;1,300&family=Teko:wght@300;700&family=Titillium+Web:wght@200;300;700&display=swap');
*{
  /* font-family: 'Advent Pro', sans-serif; */
  /* font-family: 'Oswald', sans-serif; */
  /* font-family: 'Rajdhani', sans-serif; */
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Abel', sans-serif; */
/* font-family: 'Dosis', sans-serif; */
/* font-family: 'Kanit', sans-serif; */
/* font-family: 'Lobster', cursive; */
/* font-family: 'Orbitron', sans-serif; */
/* font-family: 'Play', sans-serif; */
/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Roboto Condensed', sans-serif; */
/* font-family: 'Teko', sans-serif; */
/* font-family: 'Titillium Web', sans-serif; */
font-family: sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  transition: all .2s linear;
}
body{
  animation: fadeInLeft 1s linear;
  /* background-color:#d8baec;; */
}

header{
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.navbar{
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgb(242, 53, 53);
}
.navbar--left{
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid coral; */
}
.navbar--logo{
  width: 100px;
  height: 50px;
}
.navbar--logo img{
  width: 100%;
  height: 100%;
}
.navbar--center{
  width: 65%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid coral; */
}
.navbar--center--content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid coral; */
  width: 100%;
}
.navbar--right{
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid coral; */
}
.navbar--right--content{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.nav--items{
  width: 30px;
  height: 30px;
  margin: 0.5rem;
  font-size: 1.2rem;
  color: white;
}
.nav{
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem;
  /* border: 1px solid coral; */
}
.nav--left{
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid coral; */
}
.nav--logo{
  width: 140px;
  height: 80px;
  /* border: 1px solid coral; */
}
.nav--logo img{
  width: 100%;
  height: 100%;
}
.nav--center{
  width: 65%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid coral; */
}
.nav--center--content{
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid coral; */
  width: 100%;
}
.nav--right{
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid coral; */
}
.nav--right--content{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.liste{
  padding: 1rem;
  text-decoration: none;
  color:white;
  font-size: 1rem;
}
.liste:hover{
  color: coral;
}
  .navbar--login{
    font-size: 1rem;
  }

.link{
  text-decoration: none;
  width: 250px;
}
.btn--close--part{
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 1.5rem;
}

.nav{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}
.nav__content{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: #000 1px solid ;
  font-weight: bold;
  cursor: pointer;
}
.user__part{
  width: 100%;
  display: block;
  /* border: 1px solid gainsboro; */
  margin-bottom: 0.7rem;
  border-radius: 0.7rem;
  /* padding: 0.3rem; */
}
.user__part__detail{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid coral; */
}
.user__part__left{
  width: 25%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  /* border: 1px solid coral; */
}
.user__part__left__img{
  width: 70%;
  height: 70%;
  border-radius: 0.5rem;
}
.user__part__left__img img{
  width: 100%;
  height: 100%;
  /* border: 1px solid coral; */
}
.user__part__right{
  width: 75%;
  height: 50px;
  display: flex;
  align-items: center;
  /* border: 1px solid coral; */
}
.user__part__right > p{
 margin-bottom: 0;
}
.left--part--container{
  position: fixed;
  left : -1000px;
  transition: ease-in-out 2s;
}
.btn--close--left--part{
  position: relative;
  top:0;
  left: 88%;
  background-color: #1320DC;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  color: white;
}
.block--login{
  display: none;
}
.openSearchBar{
  right: 0;
  transition: ease-in 0.5s;
}
.btn--close--navbar{
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.login--container{
  width: 100%;
  padding: 5rem;
  border-radius: 0.7rem;
}
.log__page{
  width: 100%;
  height: 100vh;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  background-image: url('https://images.frandroid.com/wp-content/uploads/2022/10/netflix-octobre-contenus-2022.jpg');
}
.container__login__header{
  width: calc(75% - 0px);
  flex: 0 0 75%;
  color: white;
  font-size: 4rem;
  font-weight: 900;
}
.default {
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
}
.default-ltr {
  color: rgba(255, 255, 255, 1);
  text-align: start;
}
.button--block{
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.button--block--left{
  width: 70%;
  padding: 0.5rem;
}
.button--block--right{
  width: 30%;
  padding: 0.5rem;
}
/* .btn__start{
  background-color: red;
  color: white;
  padding: 1.2rem;
  border-radius: 0.5rem;
  width: 90%;
} */
.container__login__page{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login--content{
  width: 400px;
  height: 500px;
  padding: 3rem;
  margin-top: 1rem;
  background-color: rgba(0,0,0,.75);
  color: gray;
}
.login--page--title{
  color: white;
}
.hybrid-login-form {
  background-color: rgba(0,0,0,.75);
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 515px;
  padding: 20px 0 30px;
  width: 100%;
}
/* .btn--header{
  border-radius: 0.7rem;
  color: #f3f5f9;
  width: 130px;
  padding: 0.6rem;
  transition: ease-in-out .2s;
} */
.btn__login{
  padding: 0.7rem;
  background-color: red;
  color: #fff;
  font-weight: bold;
  border-radius: 0.7rem;
  margin-top: 0.7rem;
  width: 100%;
}
.btn__login:hover {
  background-color: #fff;
  border: 1px solid coral;
  color: coral;
}
.log__part{
  width: 250px;
  /* background-color: #141414; */
  backdrop-filter: blur(1rem);
  position: fixed;
  top: -450px;
  right: 2%;
  z-index: 100000;
  transition: ease-in-out 0.8s;
  border-radius: 0.7rem;
  cursor: pointer;
  padding: 0.7rem;
  color: #f3f5f9;
}
.open__log__part{
  transition: ease-in-out 0.8s;
  top: 2rem;
}

.user__part > p{
  margin-bottom: 0 !important;
}
.btn__log{
  width: 100%;
  /* background-color: #f0c14b; */
  color: rgb(15, 52, 90);
  border-radius: 0.7rem;
  padding: 0.5rem;
  font-weight: bold;
}
.na{
  text-decoration: none;
  color: white;
  /* color: rgb(15, 52, 90); */
}
.na:hover{
  text-decoration: underline;
  /* color: rgb(15, 52, 90); */
}
.btn--connexion{
  padding: 0.4rem;
  border-radius: 0.4rem;
  background-color: rgb(14, 122, 20);
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
}
.user--part{
  width: 320px;
  height: 130px;
  position: fixed;
  background-color: white;
  z-index: 1000;
  right: 30px;
  top: -300px;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 0 10px black;
  transition: ease-in-out 1s;
  border: 1px solid coral;
}
.user--part > i{
  cursor: pointer;
}
.display--user--part{
  transition: ease-in-out 1s;
  top: 40px;
}
.btn--close--login{
  cursor: pointer;
  width: 10%;
  justify-content: end;
  display: flex;
}
.user--name{
  width: 90%;
}
.user--name--content{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:flex-end;
}
.user--email{
  font-weight: bold;
  color: gray ;
}
.btn--log{
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 100%;
}
.icon--menu{
  display: none;
}
.menu {
  position: fixed;
  width: 300px;
  height: 100vh;
  top: 0;
  left: -700px;
  display:flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  transition: ease-in-out .5s;
  box-shadow: 0 0 9px 5px black;
  background-color:#fff;
  padding: 1rem;
}
.show--menu{
  left: 0;
  transition: ease-in-out 0.5s;
}
.sidebar--menu{
  width: 100%;
  height: 95%;
  text-align: center;
  /* font-weight: bold; */
}
.sidebar--menu > p{
 padding: 1rem;
}
.btn--close--sidebar{
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 2rem;
  cursor: pointer;
}
.btn--close--sidebar > i{
    font-size: 1.2rem;
    color: #0069ff;
}
.menu__content{
  padding: 1rem;
  width: 100%;
  height: 500px;
}
.menu__content__liste{
  width: 100%;
  margin-bottom: 1rem;
}
.logo--resp{
  display: none;
}
.footer{
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  background-color: black;
  /* border: 1px solid coral; */
  text-align: center;
  color: gainsboro;
}
.footer--header{
  width: 100%;
  padding: 0.7rem;
  /* border: 1px solid coral; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer--header > p{
 margin: 0.2rem;
 font-size: 1.2rem;
}
.section__searching{
  width: 100%;
  padding: 2rem;
  margin-top: 1rem;
  /* background-color: rgb(242, 242, 242); */
  backdrop-filter: blur(1.5rem);
  border: 1px solid gainsboro;
  border-radius: 0.5rem;

}
.section__searching__content{
  width: 100%;
  text-align: center;
  /* background-color: rgb(242, 242, 242); */
}
.btn__details__search{
  padding: 0.7rem;
  background-color: rgb(242, 53, 53);
  border-radius: 0.7rem;
  color: white;
}
.section__presentation{
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
    /* border: 1px solid coral; */
}
.section__presentation__content{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border: 1px solid coral; */
}
.cards{
  width: 290px;
  height: 250px;
  padding: 0.3rem;
  border-radius: 0.5rem;
  border: 1px solid gainsboro;
}
.cards__header{
  width: 100%;
  height: 15%;
  /* padding: 1rem; */
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cards__header > h6{
  margin-bottom: 0 !important;
  font-size: 0.8rem;
}
/* .cards:hover{
  width: 330px;
  height: 320px;
  transition: 1s;
  box-shadow: black 0 0 9px;
} */
/* .cards:hover .card--body{
  width: 300px;
  height: 150px;
  transition: 0.5s;
  transform: scale(1);
  border-radius: 0 0 0.5rem 0.5rem;
  bottom: 0;
} */
/* .cards img{
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
} */
.cards__body{
  width: 100%;
  height: 85%;
  font-size: 0.8rem;
  /* border: 1px solid coral; */
}
.cards__descriptions{
  width: 100%;
}
.cards__descriptions > p{
  margin-bottom: 0;
}
.btn__container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.btn__more{
  width: 250px;
  padding: 0.5rem;
  background-color: rgb(242, 53, 53);
  border-radius: 0.7rem;
  color: white;
}
.section__filter{
  width: 100%;
  height: 300px;
  border: 1px solid coral;
}
.section__info{
  width: 100%;
  /* height: 400px; */
  border: 1px solid coral;
}
.section__info__header{
  text-align: center;
  width: 100%;
  border-bottom: 5px solid black;
}
.section__info__container{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid coral; */
}
.section__info__content{
  width: 33%;
  height: 100%;
  border-right: 4px solid coral;
}



@media only screen and (max-width:576px) {
  header{
    height: 70px;
  }
  .navbar--center--content{
    display: none;
  }
  .navbar--left{
    width: 20%;
    display: flex;
    justify-content: flex-start;
  }
  .navbar--center{
    width: 50%;
  }
  .navbar--right{
    width: 30%;
    display: flex;
    justify-content: flex-end;
  }
  .icon--menu{
    width: 50%;
    height: 100%;
    font-size: 1.3rem;
    align-items: center;
    display: flex;
    justify-content: center;
    color: rgb(15, 52, 90);
    cursor: pointer;
  }
  .logo--resp{
    display: flex;
  }
  .navbar--logo{
    display: none;
  }
  .navbar--logo--resp{
    width: 50px;
    height: 50px;
  }
  .navbar--logo--resp img{
    width: 100%;
    height: 100%;
  }

  .sidebar{
    display: none;
  }
  .filter{
   display: flex;
  }
  .container-contents {
    width: 100%;
    justify-content: center;
  }
  .filter--sidebar{
    display: flex;
  }
  .container--article{
    width: 100%;
    height: 40vh;
    padding:0;
    display: block;
    margin-top: 2rem;
  }
  .container--article--left--part{
    width: 100%;
    height: 250px;
  }
  .container--article--right--part{
    width: 100%;
    height: 100%;
    padding: 1rem;
  }
  .container--article--left--part--content{
    width: 60%;
    height: 100%;
    /* border: 1px solid coral; */
  }
  .container--article--left--part--container--image{
    width: 100%;
    height: 77%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container--article--left--part--container--image--box{
      width: 90%;
      height: 90%;
      /* border: 1px solid gainsboro; */
  }
  .btn--add--cart{
    font-size: 0.7rem;
  }
  .container--login--header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .main--orders--container{
    width: 100%;
      height: auto;
      margin-bottom: 3rem;
      display: block;
   }
   .main--orders--container--left{
    width: 100%;
    padding: 0 1rem;
    margin-bottom: 1rem;
   }
   .main--orders--container--right{
    width: 100%;
   }
   .user__details__container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
  }
  .user__details__container__left{
    display: none;
  }
  .user__details__container__right{
    width: 100%;
    height: 100vh;
  }
  .user__details__container__right__content__box{
    width: 100%;
    margin-bottom: 1rem;
  }
  .articles--details {
    width: 70%;
  }
  .reference--article{
    font-weight: 800;
    font-size: 0.7rem;
  }
  .footer--header{
    width: 100%;
    display: block;
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  .footer{
    width: 100%;
    padding: 10px 0;
    color: rgb(12, 52, 103);
    font-weight: bold;
  }
  .right{
    width: 100%;
    text-align: center;
    border-bottom: 3px solid coral;
  }
 }