@import url('https://fonts.googleapis.com/css2?family=Abel&family=Dosis:wght@200;700&family=Kanit:ital,wght@0,100;0,700;1,300&family=Lobster&family=Orbitron:wght@400;700&family=Play:wght@400;700&family=Raleway:wght@100;300;700&family=Righteous&family=Roboto+Condensed:ital,wght@0,300;0,700;1,300&family=Teko:wght@300;700&family=Titillium+Web:wght@200;300;700&display=swap');
*{
  /* font-family: 'Advent Pro', sans-serif; */
  /* font-family: 'Oswald', sans-serif; */
  /* font-family: 'Rajdhani', sans-serif; */
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Abel', sans-serif; */
/* font-family: 'Dosis', sans-serif; */
/* font-family: 'Kanit', sans-serif; */
/* font-family: 'Lobster', cursive; */
/* font-family: 'Orbitron', sans-serif; */
/* font-family: 'Play', sans-serif; */
font-family: 'Raleway', sans-serif;
/* font-family: 'Roboto Condensed', sans-serif; */
/* font-family: 'Teko', sans-serif; */
/* font-family: 'Titillium Web', sans-serif; */
/* font-family: sans-serif; */
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  transition: all .2s linear;
}
body{
  animation: fadeInLeft 1s linear;
  background-image: url('https://www.afpa.fr/documents/21653/78046784/2200562-VISUEL-1600x628-Boat.jpg/3ea74084-7f4d-4f0e-a454-e8c04d5ac40a?t=1595329393000');
  background-repeat: no-repeat;
  /* background-color:#d8baec; */
}
header{
  width: 100%;
  height: 70px;
}
.navbar{
  width: 100%;
  height: 100%;
  display: flex;
  background-color: white;
  border-bottom:1px solid gainsboro ;
  box-shadow: 0 0 5px gainsboro;
}
.navbar--left{
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid coral; */
}
.navbar--logo{
  width: 100px;
  height: 50px;
}
.navbar--logo img{
  width: 100%;
  height: 100%;
}
.navbar--center{
  width: 65%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid coral; */
}
.navbar--center--content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid coral; */
  width: 100%;
}
.navbar--right{
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid coral; */
}
.navbar--right--content{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.nav--items{
  width: 30px;
  height: 30px;
  margin: 0.5rem;
  font-size: 1.2rem;
  color: white;
}
.nav{
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem;
  /* border: 1px solid coral; */
}
.nav--left{
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid coral; */
}
.nav--logo{
  width: 140px;
  height: 80px;
  /* border: 1px solid coral; */
}
.nav--logo img{
  width: 100%;
  height: 100%;
}
.nav--center{
  width: 65%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid coral; */
}
.nav--center--content{
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid coral; */
  width: 100%;
}
.nav--right{
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid coral; */
}
.nav--right--content{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.liste{
  padding: 1rem;
  text-decoration: none;
  color:red;
  font-size: 1rem;
}
.liste:hover{
  color: coral;
}
  .navbar--login{
    font-size: 1rem;
  }

.link{
  color: #5A545A;
  font-size: 0.7rem;
}
.linked{
  color: #007BFF;
  font-size: 0.7rem;
  text-align: end;
  font-weight: bold;
  text-decoration: none;
}
.linked i{
  font-size: 0.7rem;
}
.btn--close--part{
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 1.5rem;
}

.nav{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}
.nav__content{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: #000 1px solid ;
  font-weight: bold;
  cursor: pointer;
}
.user__part{
  width: 100%;
  display: block;
  /* border: 1px solid gainsboro; */
  margin-bottom: 0.7rem;
  border-radius: 0.7rem;
  /* padding: 0.3rem; */
}
.user__part__detail{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid coral; */
}
.user__part__left{
  width: 25%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  /* border: 1px solid coral; */
}
.user__part__left__img{
  width: 70%;
  height: 70%;
  border-radius: 0.5rem;
}
.user__part__left__img img{
  width: 100%;
  height: 100%;
  /* border: 1px solid coral; */
}
.user__part__right{
  width: 75%;
  height: 50px;
  display: flex;
  align-items: center;
  /* border: 1px solid coral; */
}
.user__part__right > p{
 margin-bottom: 0;
}
.left--part--container{
  position: fixed;
  left : -1000px;
  transition: ease-in-out 2s;
}
.btn--close--left--part{
  position: relative;
  top:0;
  left: 88%;
  background-color: #1320DC;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  color: white;
}
.block--login{
  display: none;
}
.openSearchBar{
  right: 0;
  transition: ease-in 0.5s;
}
.btn--close--navbar{
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.login--container{
  width: 100%;
  padding: 5rem;
  border-radius: 0.7rem;
}
.log__page{
  width: 100%;
  height: 100vh;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  background-image: url('https://www.afpa.fr/documents/21653/78046784/2200562-VISUEL-1600x628-Boat.jpg/3ea74084-7f4d-4f0e-a454-e8c04d5ac40a?t=1595329393000');
}
.container__login__header{
  width: calc(75% - 0px);
  flex: 0 0 75%;
  color: white;
  font-size: 4rem;
  font-weight: 900;
}
.default {
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
}
.default-ltr {
  color: rgba(255, 255, 255, 1);
  text-align: start;
}
.button--block{
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.button--block--left{
  width: 70%;
  padding: 0.5rem;
}
.button--block--right{
  width: 30%;
  padding: 0.5rem;
}
/* .btn__start{
  background-color: red;
  color: white;
  padding: 1.2rem;
  border-radius: 0.5rem;
  width: 90%;
} */
.container__login__page{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login--content{
  width: 400px;
  padding: 1rem;
  margin-top: 1rem;
  color: gray;
  backdrop-filter: blur(0.7rem);
}
.login--page--title{
  color: white;
}
.hybrid-login-form {
  background-color: rgba(0,0,0,.75);
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 515px;
  padding: 20px 0 30px;
  width: 100%;
}
.btn__login{
  padding: 0.7rem;
  background-color: red;
  color: #fff;
  font-weight: bold;
  border-radius: 0.7rem;
  margin-top: 0.7rem;
  width: 100%;
}
.btn__login:hover {
  background-color: #fff;
  border: 1px solid coral;
  color: coral;
}
.log__part{
  width: 250px;
  /* background-color: #141414; */
  /* backdrop-filter: blur(1rem); */
  background-color: white;
  position: fixed;
  top: -450px;
  right: 2%;
  z-index: 100000;
  transition: ease-in-out 0.8s;
  border-radius: 0.7rem;
  cursor: pointer;
  padding: 0.7rem;
}
.open__log__part{
  transition: ease-in-out 0.8s;
  top: 2rem;
}
.user__part > p{
  margin-bottom: 0 !important;
}
.btn__log{
  width: 100%;
  /* background-color: #f0c14b; */
  color: rgb(15, 52, 90);
  border-radius: 0.7rem;
  padding: 0.5rem;
  font-weight: bold;
}
.na{
  text-decoration: none;
  color: #5A545A;
  /* color: rgb(15, 52, 90); */
}
.na:hover{
  text-decoration: underline;
  /* color: rgb(15, 52, 90); */
}
.btn--connexion{
  padding: 0.4rem;
  border-radius: 0.4rem;
  background-color: rgb(14, 122, 20);
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
}
.btn--log{
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 100%;
}
.icon--menu{
  display: none;
}
.menu {
  position: fixed;
  width: 300px;
  height: 100vh;
  top: 0;
  left: -700px;
  display:flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  transition: ease-in-out .5s;
  box-shadow: 0 0 9px 5px black;
  background-color:#fff;
  padding: 1rem;
}
.show--menu{
  left: 0;
  transition: ease-in-out 0.5s;
}
.sidebar--menu{
  width: 100%;
  height: 95%;
  text-align: center;
  /* font-weight: bold; */
}
.sidebar--menu > p{
 padding: 1rem;
}
.btn--close--sidebar{
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 2rem;
  cursor: pointer;
}
.btn--close--sidebar > i{
    font-size: 1.2rem;
    color: #0069ff;
}
.menu__content{
  padding: 1rem;
  width: 100%;
  height: 500px;
}
.menu__content__liste{
  width: 100%;
  margin-bottom: 1rem;
}
.logo--resp{
  display: none;
}
.section__searching{
  width: 100%;
  padding: 2rem;
  margin-top: 1rem;
  backdrop-filter: blur(5px 5px);
  border: 1px solid gainsboro;
  border-radius: 0.5rem;
  backdrop-filter: blur(1rem );
  /* backdrop-filter: invert(50%); */
  /* background-color: white; */
}
.section__searching__content{
  width: 100%;
  text-align: center;
  /* background-color: rgb(242, 242, 242); */
}
.section__searching__content__box{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1rem;
}
.box__input{
  width: 85%;
  /* border: 1px solid coral; */
}
.box__btn{
  width:15%;
  /* border: 1px solid coral; */
}
.btn__details__search{
  padding: 0.7rem;
  background-color: rgb(242, 53, 53);
  border-radius: 0.7rem;
  color: white;
}
.section__presentation{
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
    /* border: 1px solid coral; */
}
.section__presentation__content{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  /* border: 1px solid coral; */
}
.cards{
  width: 290px;
  height: 300px;
  padding: 0.3rem;
  border-radius: 0.5rem;
  border: 1px solid gainsboro;
  background-color: white;
  margin: 0.7rem;
}
.cards__header{
  width: 100%;
  height: 15%;
  /* padding: 1rem; */
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cards__header > h6{
  margin-bottom: 0 !important;
  font-size: 0.8rem;
}
.cards__header > i{
  color: rgb(74, 104, 202);
  font-weight: bold;
}
.cards:hover{
  width: 330px;
  height: 350px;
  transition: 1s;
  box-shadow: black 0 0 9px;
}
.cards__body{
  width: 100%;
  height: 85%;
  font-size: 0.8rem;
}
.cards__descriptions{
  width: 100%;
}
.cards__descriptions > p{
  margin-bottom: 0;
}
.btn__container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.btn__more{
  width: 250px;
  padding: 0.5rem;
  background-color: rgb(242, 53, 53);
  border-radius: 0.7rem;
  color: white;
  margin-top: 2rem;
}
.btn__search{
  width: 200px;
  padding: 0.5rem;
  background-color: gainsboro;
  color: white;
  margin-top: 1rem;
}
.btn__search:hover{
  width: 300px;
  background-color: rgb(171, 162, 162);
}
.section__filter{
  width: 100%;
  margin: 1rem 0;
  /* border: 1px solid coral; */
}
.section__filter__container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid coral; */
}
.section__filter__cards{
  width: 360px;
  height: 400px;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: white;
  border: 1px solid gainsboro;
}
.section__filter__cards__header{
  /* text-align: center; */
  color: #5A545A;
  /* border-bottom: 1px solid #5A545A; */
}
.section__filter__cards__header i{
  color: rgb(74, 104, 202);
  font-weight: bold;
}
.section__filter__cards__description{
  width: 100%;
  height: 120px;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid gainsboro; */
}
.section__filter__cards__result{
  width: 100%;
  height: 220px;
  padding: 0.5rem;
  margin-bottom: 0.7rem;
  box-shadow: 0 0 5px gainsboro;
}
.section__filter__cards__result:nth-child(2){
  width: 100%;
  height: 110px;
  margin-bottom: 0.7rem;
}
.selected{
  margin: 0.7rem 0;
}
.section__filter__cards__content{
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border: 1px solid #5A545A; */
}
.box__results{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.box__results > h6{
  margin-bottom: 0!important;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #5A545A; */
}
.box__results__img{
  width: 10%;
  /* border: 1px solid #5A545A; */
}
.box__results__img img{
  width: 100%;
  height: 100%;
}
.box__results__description{
  width: 50%;
  /* border: 1px solid #5A545A; */
  font-size: 0.8rem;
  color: #e3007e;
}
.percent{
  color: rgb(57, 240, 72);
  font-size: 1.5rem;
  font-weight: bold;
}
.date{
  font-size: 0.6rem;
  text-align: end;
  color: #5A545A;
  margin-bottom: 0 !important;
}
.section__info{
  width: 100%;
    margin: 2rem 0;
    background-color: white;
}
.section__info__header{
  text-align: center;
  width: 100%;
  border-bottom: 4px solid black;
}
.section__info__container{
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid coral; */
}
.section__info__content{
  width: 33%;
  height: 100%;
  padding: 0.7rem;
  border-right: 2px solid black;
}
.section__partenaires{
  width: 100%;
  padding: 0.5rem;
  margin-top: 1rem ;
}
.section__partenaires__header{
  width: 100%;
  height: 100px;
  text-align: center;
  border-top: 2px solid cadetblue;
}
.section__partenaires__details{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid gainsboro;
}
.section__partenaires__details__content{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.section__partenaires__details__images{
  width: 70px;
  height: 50px;
}
.section__partenaires__details__images img{
  width: 100%;
  height: 100%;
}
.section__apfa{
  width: 100%;
  padding: 0.7rem;
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  border: 1px solid coral;
  background-color: rgb(242, 53, 53);
}
.section__apfa__header{
  text-align: center;
  color: white;
}
.section__apfa__container{
  width: 100%;
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid coral; */
}
.section__apfa__box{
  width: 250px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color:white;
  font-size: 0.7rem;
}
.section__apfa__box img{
  width: 30px;
  height: 30px;
  margin: 0.6rem;
}
p{
  margin-bottom: 0;
}
.buttons--search{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border: 1px solid coral; */
}
.resultTab{
  width: 20%;
  padding: 0.7rem;
}
span {
  color: #44a33d;
  font-weight: bold;
  font-size: 1.2rem;
}
.main__part__filter{
  width: 100%;
  padding: 2rem;
  background-color: #fff;
  border: 1px solid gainsboro;
  margin: 1rem 0;
  text-align: center;
}
.main__part__filter__container{
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section__searching__block{
  width: 100%;
  margin: 1rem 0;
}
.bloc__formations{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bloc__formations__sidebar{
  width: 29%;
  padding: 0.7rem;
  border: 1px solid gainsboro;
  background-color: white;
  position: sticky;
  top: 0;
}
.bloc__formations__container{
  width: 70%;
    padding: 0.7rem;
  background-color: white;
  border: 1px solid gainsboro;
}
.medium{
border-bottom: 1px solid gainsboro;
font-weight: bold;
}
.item--list{
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid gainsboro;
}
.item--list--header{
  margin:1rem;
  font-weight: bold;
}
.bloc__formations__container__content{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.first__part{
  width: 60%;
  padding: 0.7rem;
  /* border: 1px solid coral; */
}
.second__part{
  width: 40%;
  padding: 0.7rem;
  /* border: 1px solid coral; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.md{
  text-decoration: none;
  color: #5A545A;
  font-weight:bold;
}
.category__formation{
    font-weight: bold;
    font-size: 1.1rem;
    color: #00A0E0;
}
.tag{
  width: 200px;
  padding: 0.5rem;
  text-align: center;
  background-color: gainsboro;
}
.btn__details{
  background-color: #E3007E;
  font-weight: bold;
  padding: 0.7rem;
  color: white;
}
.main__part__login{
  width: 100%;
  padding: 2rem;
  border: 1px solid coral;
}
.container--connexion{
  margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container--first--part{
  width: 50%;
  height: 95vh;
  /* background-color: #0069ff; */
  /* background-color: #031b4e; */
  background-color: white;
  border-radius: 0.5rem 0 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.containter--second--part{
  width: 50%;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container--login{
  width: 90%;
}
/* .login--content{
  width: 600px;
  padding-right: 6rem;
  padding-left: 6rem;
} */
/* .btn{
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #0069ff;
  background-color: coral;
}
.btn:hover{
  background-color: #031b4e;
} */
.login--content--header{
  color: white;
  font-weight: bold;
}
.container--first--part--content--header{
  color: white;
  font-size: 3rem;
}
.container--login--header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn--header{
  background-color: #0069ff;
  border-radius: 0.9rem;
  color: #f3f5f9;
  width: 200px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 0.6rem;
  transition: ease-in-out .2s;
}
.footer{
  width: 100%;
  /* margin-top: 1rem; */
  background-color: #f2f4f7;
}
.footer__container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__container__content{
  width: 420px;
  height: 200px;
  padding: 2rem;
  color: #5A545A;
  /* border: 1px solid coral; */
}
.footer__container__content:nth-child(2){
 border-left: #5A545A solid 1px ;
}
.footer__container__content:nth-child(3){
  border-left: #5A545A solid 1px ;
 }
.social__media__container{
  width: 330px;
  display: flex;
  align-items: center;
  justify-content:space-between;
  /* border: 1px solid coral; */
}
.social__media{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content:center;
}
.social__media i{
  font-size: 2rem;
  color: aquamarine;
}
.footer__container__header{
  text-align: center;
  font-size: 1.2rem;
  border-bottom: 1px solid gainsboro;
  color: #5A545A;
}
.footer__item__header{
  width: 100%;
  padding: 0 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid gainsboro;
}
.footer__item{
  width: 100%;
  padding: 1rem;
  /* border: 3px solid coral; */
}
.footer__item__box{
  width: 130px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
  /* border: 3px solid coral; */
}
.footer__item__box img{
  width: 90%;
  height: 90%;
  /* border: 1px solid coral; */
}


@media only screen and (max-width:576px) {
  header{
    height: 70px;
  }
  .navbar--center--content{
    display: none;
  }
  .navbar--left{
    width: 20%;
    display: flex;
    justify-content: flex-start;
  }
  .navbar--center{
    width: 50%;
  }
  .navbar--right{
    width: 30%;
    display: flex;
    justify-content: flex-end;
  }
  .icon--menu{
    width: 50%;
    height: 100%;
    font-size: 1.3rem;
    align-items: center;
    display: flex;
    justify-content: center;
    color: rgb(15, 52, 90);
    cursor: pointer;
  }
  .logo--resp{
    display: flex;
  }
  .navbar--logo{
    display: none;
  }
  .navbar--logo--resp{
    width: 50px;
    height: 50px;
  }
  .navbar--logo--resp img{
    width: 100%;
    height: 100%;
  }

 }